body
    {
        background-image: url('image/bg_home.png');
        font-family: Arial, sans-serif;
        margin: 0;
    }
a 
    {
        text-decoration: none;
        color: #21421e;
        padding: 10px 15px;
    }
a:hover 
    {
        background-color: #21421e; /* darker green on hover */
        color: #ffffff;
        border-radius: 10px;
    }
footer 
    {
        background-color: #8fbc8faa; 
        color: #21421e;           
        text-align: center;    
        padding: 10px 0;          /* vertical padding */
        font-family: Arial, sans-serif;
        font-size: 14px;
        width: 100%;
        position: fixed;       /* stays at bottom naturally */
        bottom: 0;
    }